{% extends 'base.html' %}
{% block content %}

<head>
    <style>
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<div class="center">
<form class="text-center border border-light p-5" action="success" method="POST">

{% csrf_token %}

    <p class="h3 mb-3">
    <i class="fas fa-coffee"></i> BUY ME A COFFEE!!
    </p>

    <p class="mb-3">
    Help us create more types of verity cofees by donating 100000 INR
    </p>

<input type="name" name="name" id="name" required class="form-control mb-4" placeholder=" enter your name for payment">

<!-- RAZORPAY INTEGRATION HERE -->

<script src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_U68XoHD9LUi8r6"
    data-amount="10000000"
    data-currency="INR"
    data-order_id="{{payment.id}}"
    data-buttontext="Pay with Razorpay "
    data-name="shajeer"
    data-description="billionaire"
    data-image="https://staticdelivery.nexusmods.com/mods/2831/images/25/25-1570305726-426616149.png"
    data-prefill.name="name"
    data-prefill.email=""
    data-theme.color="blue">
</script>
</form>
</div>
</div> 
{% endblock %}